.add-snippet-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 15px;
  text-align: center;
}

.snippet-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color);
}

.input-field {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  background: white;
}

.input-field:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 2px rgba(13, 78, 54, 0.2);
}

.submit-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: var(--darker-primary);
}
